.tab-group {
    list-style:none;
    background: #ffffff;
    padding: 40px;
    max-width:600px;
    margin:90px auto;
    border: 1px solid #6c7ae0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*box-shadow: 0 1px 10px 1px #6c7ae0;*/

}

.tab-group .title {
    text-decoration:none;
    padding:15px;
    color: #2350a0;
    font-size:40px;
    margin: auto;
    text-align:center;
}
 .center{
     text-align: center;
 }

.tab-group form{
    display: unset;
}

.tab-group input[type=text]{
    align-self: center;
}


.field-wrap {
    position:relative;
    margin-bottom:40px;
}


.top-row{
    margin-top: 55px;
}

.top-row:after {
     content: "";
     display: table;
     clear: both;
 }

.top-row > div {
    float:left;
    width:48%;
    margin-right:4%;
}

.top-row > div:last-child {
     margin:0;
 }

.tab-group .form-control{
    width: -webkit-fill-available;

}

.idleLabel {
    position: absolute;
    color: #888888;
    margin: 7px 13px;
    font-weight: normal;
    z-index: 3;
    transition: 0.4s ease;
}

.activeLabel {
    position: absolute;
    color: blue;
    font-size: x-small;
    margin: -5px 10px;
    background-color: #FFFFFF;
    border-left: solid #888888 1px;
    border-right: solid #888888 1px;
    padding: 0 4px;
    z-index: 3;
    transition: 0.4s ease;

}

.change-password-group{
    max-width: 300px;
}

@media screen and (max-width: 700px) {

    .tab-group{
        max-width: 700px;
        padding: 20px;
    }

    .tab-group .title{
        font-size: 25px;
        padding: unset;
    }

}