/* =============================================== Main Stylesheet used for all pages ===================================================== */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}


*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
body{
    margin: 0;
    padding: 0;
    border:0;}

/* nav bar css ================================================================================ */

.nav {
    height: 70px;
    max-width: 1400px;
    background-color: #f2f2f2; /*#4d4d4d;*/
    position: relative;
    display: flex;
    /* color: #FFF; */
    border-bottom: 1px solid #aaaaaa;
    margin: auto;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 1.6rem;
    font-weight: 600;
}
.nav > a{
box-sizing: border-box;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    color: #2350a0;
    padding: 12px 20px 13px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: flex;
    border-left-color: rgb(214,214,214);
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: rgb(214,214,214);
    border-right-width: 1px;
    border-right-style: solid;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 12px 20px 13px 20px;
    text-decoration: none;
    color: #2350a0;
    /*box-sizing: border-box;*/
}

.nav > .nav_right > a {
    display: inline-block;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    color: #2350a0;
    /*box-sizing: border-box;*/
}

.nav > .nav_right{
    margin-left: auto;
    display: flex;
    border-left-color: rgb(214,214,214);
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: rgb(214,214,214);
    border-right-width: 1px;
    border-right-style: solid;
}

@media screen and (min-width: 768px) {
    .nav-links > a {
        padding-left: 20px;
        background-image: none;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

    }
}

@media (max-width:700px){
    .nav-links{
        position: absolute;
        display: block;
        width: 100%;
        background-color: #006838;
        height: 0px;
        transition: all 0.7s ease-in;
        overflow-y: hidden;
        top: 55px;
        left: 0px;
        z-index: 1;
        overflow: hidden;
    }
    .nav_right{
        position: absolute;
        display: block;
        width: 100%;
        background-color: #006838;
        height: 0px;
        transition: all 0.7s ease-in;
        overflow-y: hidden;
        top: 55px;
        left: 0px;
        z-index: 1;
        overflow: hidden;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
}


.nav > .nav_right > a:hover {
    background-color:#FFF; /*rgba(0, 0, 0, 0.3);*/
}

.nav > .nav-links > a:hover {
    background-color:#FFF; /*rgba(0, 0, 0, 0.3);*/
}

.nav > #nav-check {
    display: none;
}
.container{
    margin-top: 10%;
}

.card, .btn, .form-control { border-radius: 0; }
#map{
    height: 100%;
}