/*  tutorial image */
.center-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;

/* Centres images */
}
/* Centres  */
.tutorial-image{
  height: 300px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  margin-top: 50px;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cc0010;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4f5902;
  display:block
}


input:focus + .slider {
  box-shadow: 0 0 1px #175945;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;

}

/*button css*/

.btn:not(:disabled):not(.disabled){
  border-radius: 30px;
}

.modal-content{
  border-radius: 30px;
}

.modal-body{
  padding:1.5rem;
}

/*end*/

/* box styling and inputs inside the box   ================================================= */
.box{
  margin:auto;
  width: 90%;
  background: #ffffff;
  padding: 10px;
  /* background: maroon; */
}

.box hr{
  color: black;
  margin: 0 0 15px;

}

.box h2{
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}
.box h3{
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.box .custominput input{
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  display: block;
  height:18px;
  /* box-sizing: border-box; */
}

/* font styling*/
h1, h2, h3, h4{
  color: #2350a0;
  font-weight: 300;
}

.custom-margin{
  margin-top: 55px;
}

/*  link colours for classes*/
a {
    color: Black;
}

/*search bar*/
/*.custom-container{*/
/*  display: flex;*/
/*  height: 100vh;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.counter {
  margin-top: 20px;

}

.search-form{
/*  height: 80px;*/
  width: auto;
  float: right;
/*  margin-top: 50px;*/
}

.search{
  width: 50px;
  height: 50px;
  font-size: 20px;
  float: left;
  border: 3px #6f8df6 solid;
  border-radius: 50%;
  background: #fff;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
  background-image: url("../images/search-icon.png");
}


.search:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 #6c7ae0;
}

.search:focus {
  cursor: text;
  width: 100%;
  border-radius: 25px 25px 25px 25px;
  outline: none;
  text-indent: 15px;
  background-position-x: 97%;
  box-shadow: 0 0 10px 0 #6c7ae0;
}


/*end*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  caption-side: top;
  text-align: center;
}

td, th {
  text-align: center;
  padding: 8px;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 30px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 30px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 30px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 30px;
}

table tr th {
  background: #6c7ae0;
  color: #FFFFFF;
  font-weight: bold;
}

.table tr:nth-child(even){
  background-color: #f8f6ff;
}

.table thead th {
  text-align: center;
  vertical-align: middle;
  padding-top: 18px;
  padding-bottom: 18px;
}


tr:hover {
  background-color: #ddd
}

.results tr[visible='false'],
.no-result{
  display:none;
}


.table td, .table th{
  vertical-align: middle;
  border-top: 0;
}
/*.results tr[visible='true']{*/
/*  display:table-row;*/
/*}*/

.counter{
  padding:8px;
  color:#ccc;
}

/*homepage css*/
.heroBanner.other-products-hub, .heroBanner.about-us-hub{
  background: url('../images/admiral-character.png') no-repeat scroll center -50px;

}

.heroBanner{
  overflow: hidden;
  /*border-bottom: 1px solid #D3CBAF;*/
}

.heroBanner.other-products-hub .content, .heroBanner.about-us-hub .content{
  padding: 30px 0 0;
  width: 384px;
  margin-left: 368px;
  margin-bottom: 40px;
}

.heroBanner.other-products-hub .content p.messaging, .heroBanner.about-us-hub .content p.messaging{
  width: 340px;
  padding-left: 0;
  padding-bottom: 10px;
  margin-bottom: 0px;
  /*font-size: 1.8rem;*/
  line-height: 2.7rem;
}

.heroBanner .content{
  width:650px;
  max-width: 100%;
  padding: 60px 0 0 0;
  margin-left: 18px;
}

.container{
  max-width: 100%;
  margin: auto;
  padding: 0px 15px;
  position: relative;
}

.pcontainer{
  max-width: 700px;
  margin: auto;
  padding: 50px 15px;
  position: relative;
}

.lightGreyWrapper{
  background-color: #F0F0EB;
  width: 100%;
}

.lightBlueWrapper{
  background-color: #f2f7fc;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

/*date picker css*/
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

/*custom inline*/
.form-inline {
  width: auto;
  font-size: 20px;
  margin: 0 auto 10px;
  padding: 10px;
  margin-top: 80px;
  /*background: #333;*/
}


form {
  display: flex;
}

/*custom margin*/
.margin-right-ten{
  margin-right: 10px;
}

.margin-right-fourty{
  margin-right: 40px;
}

/*end custom margin */


/*content hub css*/

.content .hub{
  margin-top: 55px;
}

/*end*/

/* alert message css*/
.alert-danger{
  font-size: 14px;
  background-color: unset;
  border-color: transparent;
  color: red;

}

.alert{
  padding: .75rem 0;
}

.warning-icon{
  background: transparent;
}

/*end*/

/*media content*/

@media screen and (max-width: 700px) {
  .search-form{
    width: 100%;
  }

  .search:focus {
    width: 100%;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    display: block;
    margin-bottom: 2.625em;
    border-radius: 15px;
  }

  table td {
    display: block;
    font-size: 0.9em;
    text-align: right;
  }

  .table td, .table th{
    vertical-align: middle;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  /* top-left border-radius */
  table tr:first-child th:first-child {
    border-top-left-radius: 0px;
  }

  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 0px;
  }

  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
  }

  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
  }

  tr:hover {
    background-color: unset;
  }
  .box{
    max-width: 90%;
  }


  form {
    display: unset;
  }


}

@media (min-width:576px) {
  .form-inline .form-control .filter {
    width: 230px;
  }
}