<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Access Denied</title>
</head>
<head th:replace="fragments/header :: head"></head>
<style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252); }</style>
<body>
<main role="main" class="box">
    <div class="tab-group">
        <div class="title">
            403
        </div>
        <div class="content hub">
            <div class="custom-margin">
                <div class="center">
                    <p class="messaging">You tried to access an unauthorised page!</p>
                </div>
            </div>
            <div class="center">
                <a href="/login?logout">Sign in as a different user</a>
            </div>
    </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>