<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
</head>
<head th:replace="fragments/header :: head"></head>
<div th:replace="fragments/header :: navbar-admin"></div>
<style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252); }</style>

<body>
<main role="main" class="box">

    <div class="form">
        <div class="tab-group">
            <div class="title">
                Create Account
            </div>
            <form th:action="@{/admin/create-account/details}" METHOD="post" th:object="${account}" >

                <div class="top-row">
                <div class="field-wrap">
                    <div class="margin-right-ten">
                        <label for="firstName" class="idleLabel">First Name</label>
                         <input type="text" th:field="*{firstName}" onblur="validatefirstname()" class="form-control isRequired" id="firstname" name="firstName" required/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}">
                            <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{firstName}"/>
                        </div>
                    </div>
                </div>

                <div class="field-wrap">
                <div class="margin-right-ten">
                    <label for="lastName" class="idleLabel">Last Name</label>
                    <input type="text" onblur="validatlastname()" th:field="*{lastName}" class="form-control mr-sm-2" name="lastName" id="lastname" required/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}">
                        <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{lastName}"/>
                    </div>

                </div>
                </div>
            </div>

                <div class="field-wrap">
                    <div class="margin-right-ten">
                        <label class="idleLabel" for="emailAddress">name@example.com</label>
                        <input type="text" class="form-control mr-sm-2" th:field="*{emailAddress}"onblur="validateemail()" id="email" name="emailAddress" required/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('emailAddress')}">
                            <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{emailAddress}"/>
                        </div>

                    </div>
                </div>


                <div class="field-wrap">
                    <div class="margin-right-ten">
                        <label class="idleLabel" for="password">Password</label>
                        <input type="password" th:field="*{password}" class="form-control mr-sm-2" onblur="validatePassword()" id="password" name="newPassword" required/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}">
                            <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{password}"/>
                        </div>
                    </div>
                </div>

                <div class="field-wrap">
                    <label class="idleLabel" for="AccessLevel">Account Type</label>
                    <select onchange="hideorshowcontracotrfeatures()" th:field="*{AccessLevel}" class="form-control mr-sm-2" id ="role" required>
                        <label>Select Account Type</label>
                        <option disabled selected value=""> -- select an option -- </option>
                        <option th:value="0">Contractor</option>
                        <option th:value="1">Manager</option>
<!--                        <option th:value="2">Admin</option>-->
                    </select>
                </div>


                <div class="field-wrap">
                    <label style="display: none" class="idleLabel" for="managerId" id="assignManagerLabel">Assign A Manager</label>
                    <select id="manager" name="manager" th:field="*{managerId}" style="display:none;" class="form-control mr-sm-2">
                        <option disabled selected value=""> -- select an option -- </option>
                        <option th:each="manager: ${managers}" th:value="${manager.id}" th:text="${manager.firstName + ' ' + manager.lastName}"></option>
                    </select>
                </div>


                <div class="field-wrap">

                    <label style="display: none" class="idleLabel" for="agencyId" id="assignAgencyLabel">Assign a Agency</label>
                    <select id="agency" name="agency" th:field="*{agencyId}" style="display:none;" class="form-control mr-sm-2">
                        <option disabled selected value=""> -- select an option -- </option>
                        <option th:each="agency: ${agencies}" th:value="${agency.id}" th:text="${agency.agencyName}"></option>
                    </select>
                </div>


                <button class="btn btn-success" name="submit" type="Submit">Create Account</button>
            </form>
        </div>
    </div>


</main>
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
/*JS to hide/show contractor's manager and agency dropdown*/
    function hideorshowcontracotrfeatures() {
        var e = document.getElementById('role');
        var strUser = e.options[e.selectedIndex].text;
        if (strUser == "Contractor" ){
            document.getElementById('agency').style.display = 'block';
            document.getElementById('manager').style.display = 'block';
            document.getElementById('assignManagerLabel').style.display = 'block';
            document.getElementById('assignAgencyLabel').style.display = 'block';
            document.getElementById('manager').style.required = true;
            document.getElementById('agency').style.required = true;
        }else{
            document.getElementById('agency').style.display = 'none';
            document.getElementById('manager').style.display = 'none';
            document.getElementById('assignManagerLabel').style.display = 'none';
            document.getElementById('assignAgencyLabel').style.display = 'none';
            document.getElementById("manager").style.required = false;
            document.getElementById("agency").style.required = false;
        }
    }

    function validatefirstname() {
        /*JS validation for first name, colours input box and borderline*/
        var fn = document.getElementById('firstname').value;
        var regex = /^[a-zA-Z ]{2,30}$/;

        if (!regex.test(fn) || fn.trim().length == 0) {
            document.getElementById('firstname').style.borderColor = "red";
            document.getElementById('firstname').style.backgroundColor = "#FDD";
            return false;
        } else {
            document.getElementById('firstname').style.borderColor = "#ced4da";
            document.getElementById('firstname').style.backgroundColor = "unset";
            return true;
        }

    }
/*JS validation for last name, colours input box and borderline*/
    function validatlastname(){
        var fn = document.getElementById('lastname').value;
        var regex = /^[a-zA-Z ]{2,30}$/;

        if(!regex.test(fn) || fn.trim().length == 0){
            document.getElementById('lastname').style.borderColor = "red";
            document.getElementById('lastname').style.backgroundColor= "#FDD";
            return false;
        }else{
            document.getElementById('lastname').style.borderColor = "#ced4da";
            document.getElementById('lastname').style.backgroundColor = "unset";
            return true;
        }
    }

/*JS validation for email, colours input box and borderline*/
    function validateemail(){
        var fn = document.getElementById('email').value;
        var regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if(!regex.test(fn) || fn.trim().length == 0){
            document.getElementById('email').style.borderColor = "red";
            document.getElementById('email').style.backgroundColor= "#FDD";
            return false;
        }else{
            document.getElementById('email').style.borderColor = "#ced4da";
            document.getElementById('email').style.backgroundColor = "unset";
            return true;
        }
    }
    /*JS validation for password, colours input box and borderline*/
    function validatePassword(){
        var fn = document.getElementById('password').value;

        if(fn.trim().length == 0){
            document.getElementById('newpassword').style.backgroundColor= "#FDD";
            document.getElementById('password').style.border= "#99ff99";
            return false;
        }else{
        document.getElementById('password').style.borderColor = "#ced4da";
        document.getElementById('newpassword').style.backgroundColor = "unset";
        return true;
    }
    }
    </script>

<script type="text/javascript" src = "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" crossorigin="anonymous"> </script>
<script>

$(document).ready(function(e) {
    /*Java script for label transition*/
    $('label').on('click', function(e) {
        // If you click on the label we force-focus to the input
        var input = $(this).attr('for');
        $('input[name="' + input + '"]').focus();
    });

    var e = document.getElementById('role');
    var strUser = e.options[e.selectedIndex].text;

    /*code below checks if the input is clicked, if it is float*/
    $('input,textarea,select').on('focus', function(e) {
        var input = $(this).attr('name');
        $('label[for="' + input + '"]').removeClass('idleLabel').addClass('activeLabel');
    }).on('blur', function(e) {
        if (($(this).is('input,textarea') && $(this).val() == '') || ($(this).is('select') && $(this).text() == '')) {
            var input = $(this).attr('name');
            $('label[for="' + input + '"]').removeClass('activeLabel').addClass('idleLabel');
            debugger;
        }
    });

    /*code below if there is text in input box, if there is label will float*/

    hideorshowcontracotrfeatures();
    var firstNameInput = document.getElementById("firstname");
    if (firstNameInput.value){
        $('label[for="firstName"]').removeClass('idleLabel').addClass('activeLabel');
    }

    var lastNameInput = document.getElementById("lastname");
    if (lastNameInput.value){
        $('label[for="lastName"]').removeClass('idleLabel').addClass('activeLabel');
    }

    var emailAddressInput = document.getElementById("email");
    if (emailAddressInput .value){
        $('label[for="emailAddress"]').removeClass('idleLabel').addClass('activeLabel');
    }

    var role = document.getElementById('role');
    var strUser = role.options[role.selectedIndex].text;
    if (strUser){
        $('label[for="AccessLevel"]').removeClass('idleLabel').addClass('activeLabel');
    }

    var assignManager = document.getElementById('manager');
    var strAssignManager = assignManager.options[role.selectedIndex].text;
    if (strAssignManager){
        $('label[for="managerId"]').removeClass('idleLabel').addClass('activeLabel');
    }


    var assignAgency = document.getElementById('agency');
    var strAssignAgency= assignAgency.options[role.selectedIndex].text;
    if (strAssignAgency){
        $('label[for="agencyId"]').removeClass('idleLabel').addClass('activeLabel');
    }
});
</script>
</body>
</html>