<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
</head>
<div th:replace="fragments/header :: navbar-admin"></div>
<body>
<main role="main" class="box">
    <div id=missingTimesheetMessage th:if="${#lists.isEmpty(agencies)}">
        <div class="container">
            <h4 th:text="${'No time sheets found' }"></h4>
        </div>
    </div>
    <div id=timesheetListContainer th:if="${not #lists.isEmpty(agencies)}">
        <div style="overflow-x:auto;">
            <table class="table results">
                <caption>Time Sheet</caption>
                <thead>
                <tr>
                    <th scope="col">Agency Name</th>
                    <th scope="col">Contractor Name</th>
                    <th scope="col">Manager Name</th>
                    <th scope="col">Change manager</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="agency: ${agencies}">
                    <td data-label="Agency Name" th:text="${agency.getAgencyName()}"></td>
                    <td data-label="Contractor Name" th:text="${agency.getContractorName()}"></td>
                    <td data-label="Contractor Name" th:text="${agency.getManagerName()}"></td>
                    <td data-label="Update">
                        <div class="btn-group" role="group">
                            <form action="#"
                                  th:action="@{manager/accept}" method="post">
                                <input hidden
                                       type="number"
                                       th:name="timesheet_id"
                                       th:id="timesheet_id"
                                       th:value="${timesheet.timesheet_id}">
                                <button type="submit"
                                        class="btn btn-success">Y</button>
                            </form>
                        </div>
                            <!--                </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>