<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
</head>
<head th:replace="fragments/header :: head">
</head>
<div th:replace="fragments/header :: navbar-admin"></div>
<style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252); }
}</style>

<body>
<main role="main" class="box">

    <div class="form">
        <div class="tab-group">
            <div class="title">
                Create a Account
            </div>
            <form th:action="@{/admin/create-account/details}" METHOD="post" th:object="${account}">

                <div class="form-inline">
                <div class="field-wrap">
                <div class="margin-right-ten">
                    <input type="text" class="form-control mr-sm-2" placeholder="First Name" required/>
                </div>
            </div>

                <div class="field-wrap">
                <div class="margin-right-ten">
                    <input type="text" class="form-control mr-sm-2" placeholder="Last Name" required/>
                </div>
                </div>
            </div>

                <div class="field-wrap">
                    <div class="margin-right-ten">
                        <input type="text" class="form-control mr-sm-2" th:field="*{emailAddress}"  placeholder="Email Address" required/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">
                        </div>

                    </div>
                </div>


                <div class="field-wrap">
                    <div class="margin-right-ten">
                        <input type="password" th:field="*{password}" class="form-control mr-sm-2" placeholder="Password" required/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                </div>

                <div class="field-wrap">
                    <select th:field="*{AccessLevel}" class="form-control mr-sm-2"required onchange="if (this.value=='2')
                    {this.form['manager'].style.visibility='visible'; this.form['manager'].required=true;
                    this.form['agency'].required=true;this.form['agency'].style.visibility='visible'}
                    else
                        {this.form['manager'].style.visibility='hidden';this.form['manager'].required=false;
                        this.form['agency'].style.visibility='hidden';this.form['agency'].required=false};">
                        <option value="" selected disabled>Select account type</option>
                        <option th:value="0">Admin</option>
                        <option th:value="1">Manager</option>
                        <option th:value="2">Contractor</option>
                    </select>
                </div>


                <div class="field-wrap">
                    <select name="manager" style="visibility:hidden;" class="form-control mr-sm-2">
                        <option value="" selected disabled>Select Manager</option>
                        <option th:each="manager: ${managers}" th:value="${manager.id}" th:text="${manager.firstName + ' ' + manager.lastName}"></option>
                    </select>
                </div>


                <div class="field-wrap">
                    <select name="agency" style="visibility:hidden;" class="form-control mr-sm-2">
                        <option value="" selected disabled>Select Agency</option>
                        <option th:each="agency: ${agencies}" th:value="${agency.id}" th:text="${agency.agencyName}"></option>
                    </select>
                </div>


                <button class="btn btn-success" name="submit" type="Submit">Create Account</button>
            </form>
        </div>
    </div>


</main>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>