<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<head th:replace="fragments/header :: head"></head>
<div th:replace="fragments/header :: navbar-admin"></div>
<style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252); }</style>

<body>
<main role="main" class="box">
    <div class="form">
        <div class="tab-group">
            <div class="title">
                Change My Password
            </div>

            <form method="post" th:action="@{/admin/change-password/confirm}" th:object="${changePassword}">

            <div class="field-wrap" style="margin-top: 20px">
                    <label for="currentPassword" class="idleLabel">Current Password</label>
                     <input type="password" th:field="*{currentPassword}" class="form-control isRequired" id="currentpassword" name="currentPassord" required/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('currentPassword')}">
                        <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{currentPassword}"/>
                    </div>
              </div>

            <div class="field-wrap">
                <label for="newPassword" class="idleLabel">New Password</label>
                <input type="password" th:field="*{newPassword}" class="form-control isRequired" id="newpassword" name="newPassword" required/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('newPassword')}">
                    <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{newPassword}"/>
                </div>
            </div>

            <div class="field-wrap">
                <label for="confirmPassword" class="idleLabel">Confirm Password</label>
                <input type="password" th:field="*{confirmPassword}" class="form-control isRequired" id="confirmpassword" name="confirmPassword" required/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('confirmPassword')}">
                    <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{confirmPassword}"/>
                </div>
            </div>


                <input
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}"
                        type="hidden"/>


                <button  class="btn btn-primary"  id="time_sheet_submit" type="submit">Change Password</button>

            </form>

        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src = "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" crossorigin="anonymous"> </script>
<script>

    $(document).ready(function(e) {
        /*Java script for label transition*/
        $('label').on('click', function(e) {
            // If you click on the label we force-focus to the input
            var input = $(this).attr('for');
            $('input[name="' + input + '"]').focus();
        });

        /*code below checks if the input is clicked, if it is float*/
        $('input,textarea').on('focus', function(e) {
            var input = $(this).attr('name');
            $('label[for="' + input + '"]').removeClass('idleLabel').addClass('activeLabel');
        }).on('blur', function(e) {
            if (($(this).is('input,textarea') && $(this).val() == '') ) {
                var input = $(this).attr('name');
                $('label[for="' + input + '"]').removeClass('activeLabel').addClass('idleLabel');
                debugger;
            }
        });
    })

        </script>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        options = {-->
<!--            common: {minChar:8},-->
<!--            ui: {-->
<!--                showVerdictsInsideProgressBar:true,-->
<!--                showErrors:true,-->
<!--                errorMessages:{-->
<!--                    wordLength: '<spring:message code="error.wordLength"/>',-->
<!--                    wordNotEmail: '<spring:message code="error.wordNotEmail"/>',-->
<!--                    wordSequences: '<spring:message code="error.wordSequences"/>',-->
<!--                    wordLowercase: '<spring:message code="error.wordLowercase"/>',-->
<!--                    wordUppercase: '<spring:message code="error.wordUppercase"/>',-->
<!--                    wordOneNumber: '<spring:message code="error.wordOneNumber"/>',-->
<!--                    wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'-->
<!--                }-->
<!--            }-->
<!--        };-->
<!--        $('#newpassword').pwstrength(options);-->
<!--    });-->
<!--// </script>-->
</body>
</html>