<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252);}
.custom-background{background-color:rgb(242,247,252);}
</style>
<body>
<div th:replace="fragments/header :: navbar-default"></div>
<div class="box ">
    <div class="box custom-margin">
        <div class="container form-control">
            <div class="tab-group custom-background">
                <div class="title">
                    Enter your details below
                </div>
                <form th:action="@{/forgot-password}" th:object="${user}" method="POST">
                    <div class="field-wrap form-row">
                        <label class="form-label" th:text="Email">Email</label>
                        <input th:field="*{emailId}" type="text" id="username" name="username" th:placeholder="Email" class="form-control"/>
                    </div>

                        <div align="center" th:if="${param.error}">
                            <p style="font-size: 20px; color: #FF1C19;">The email you entered doesn't exist in Admiral</p>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary" name="Submit" value="Reset Password" type="Submit" th:text="Reset Password"
                            style="margin-right:10px;">Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>