<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"><head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252);}
.custom-background{background-color:rgb(242,247,252);}
</style>
<body>
<div th:replace="fragments/header :: navbar-default"></div>
<div class="box ">
    <div class="custom-margin">
            <div class="tab-group custom-background">
                <div class="title">
                    Forgot Your Password?
                </div>
                <form th:action="@{/forgot-password}" th:object="${forgotPasswordF}" method="POST">
                    <div class="field-wrap form-row">

                        <label class="form-label" th:text="Email">Email</label>
                        <input th:field="*{emailAddress}" type="text" id="username" name="username" th:placeholder="Email" class="form-control" required/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('emailAddress')}">
                            <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{emailAddress}"/>
                        </div>
                    </div>


                    <div class="center">
                    <button class="btn btn-lg btn-primary" name="Submit" type="Submit"
                            style="margin-right:10px;">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>