<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
</head>
<div sec:authorize="hasRole('ROLE_2')">
    <div th:replace="fragments/header :: navbar-admin"></div>
</div>

<div sec:authorize="hasRole('ROLE_1')">
    <div th:replace="fragments/header :: navbar"></div>
</div>

<div sec:authorize="hasRole('ROLE_0')">
    <div th:replace="fragments/header :: navbar-contractor"></div>
</div>
<body>
        <article role="article">
            <div>
                <div class="pcontainer">
<!--                    <div class="heroBanner other-products-hub nopic d8-migrate-hero">-->
                    <div class="content hub">
                        <div class="custom-margin">
                            <h1>Welcome Home,</h1>
                            <h3 sec:authentication="name"></h3>
                            <div>
                                <p class="messaging">
                                    Welcome to the Admiral homepage you can view your pages via the navbar which is simple and easy to use. If you want to logout you can simply hover over my account and select logout.
                                </p>
                                <p class="messaging">
                                    If you have any useful feedback for the website please email admiral@developer.com.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="lightGreyWrapper">
            <div class="pcontainer">
            <!--                    <div class="heroBanner other-products-hub nopic d8-migrate-hero">-->
            <div class="content hub">
                <h1>Troubleshooting</h1>
                <div>
                    <p class="messaging">
                        Our developers are always working hard to ensure that all the services run smoothly so may experience some difficulties while accessing some pages while we update</p>
                    <p class="messaging">
                        But the one thing that hasn’t changed is our ethos: “People who like what they do, do it better.” Admiral’s founder, Henry Engelhard, said that, and we truly believe happy staff work harder, give better customer service and are happy to go above and beyond to do the best by our policyholders.
                    </p>
                </div>
            </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer">
</div>
</body>
</html>