<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Admiral Login</title>
</head>
<style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252);}
.custom-background{background-color:rgb(242,247,252);}
</style>
<body>
<div th:replace="fragments/header :: navbar-default"></div>
<div class="box ">
    <div class="box custom-margin">
    <div class="container form-control">
        <div class="tab-group custom-background">
            <div class="lightBlueWrapper" th:if="${param.logout}">
                You have been logged out.
            </div>
            <div class="title">
                Enter your details below
            </div>
            <form th:action="@{/login}" method="POST">
                <div class="field-wrap form-row">
                    <label class="form-label" th:text="Email">Email</label>
                    <input type="text" id="username" name="username" th:placeholder="Email" class="form-control"/>
                </div>

                <div class="field-wrap form-row">
                    <label class="form-label" th:text="Password">Password</label>
                    <input
                        type="password" th:placeholder="Password" id="password" name="password" class="form-control"/>

                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20px; color: #FF1C19;">Email or Password is invalid.</p>
                    </div>
                </div>
                <div class="center">
                <button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" th:text="Login"
                        style="margin-right:10px;">Login
                </button>
                <a href="/forgot-password">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
