<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<main role="main" class="container">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="row">
                    <p>Test Column Nav</p>
                </div>
            </div>
            <div class="col">
<!--                <div class="row no-gutters">-->
<!--                    <p>Table Headers</p>-->
<!--                </div>-->
                <div class="row no-gutters">
                    <div class="col">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th scope="col">Table Headers</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="timesheet: ${timesheets}">
                                    <td th:text="${timesheet.agency_contractor_id.agencyId.agencyName}">Default</td>
                                    <td th:text="${timesheet.agency_contractor_id.contractorId.firstName}">Default</td>
                                    <td th:text="${timesheet.agency_contractor_id.contractorId.lastName}">Default</td>
                                    <td th:text="${timesheet.monday_worked}">X</td>
<!--                                    <td th:text="${timesheet.tuesday_worked)">X</td>-->
<!--                                    <td th:text="${timesheet.wednesday_worked)">X</td>-->
<!--                                    <td th:text="${timesheet.thursday_worked)">X</td>-->
<!--                                    <td th:text="${timesheet.friday_worked)">X</td>-->
<!--                                    <td th:text="${timesheet.saturday_worked)">X</td>-->
<!--                                    <td th:text="${timesheet.sunday_worked)">X</td>-->
<!--                                    <td th:text="${timesheet.overtime)">X</td>-->
                                    <td align="right" width="10%">
                                        <div class="btn-group" role="group">
                                            <button type="button"
                                                    class="btn btn-success"
                                                    href="/">Y</button>
                                            <button type="button"
                                                    class="btn btn-danger"
                                                    data-toggle="modal"
                                                    data-target="#notesModal">N</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notesModalLabel">Rejection Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="#" th:action="@{manager/addNotes}" th:object="${note}" method="post">
                    <div class="modal-body">

                            <div class="form-group">
                                <label class="col-form-label" th:for="notes">Notes:</label>

<!--                                <textarea type="text" class="row form-control" th:field="*{notes}"></textarea>-->

                                <select class="row form-control" th:field="*{notes}">
                                    <option th:each="i : ${rejectOptions}" th:value="${i}" th:text="${i}">
                                    </option>
                                </select>

                                <div class="alert alert-danger"
                                     th:errors="*{notes}"
                                     th:if="${#fields.hasErrors('notes')}">
                                    Notes Error
                                </div>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="submit"
                                class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

</body>
<div th:replace="fragments/footer :: footer">
</div>
</html>