<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"><head>
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
    <style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252); }</style>


<body>
<main role="main" class="box">

    <div class="tab-group">

        <div class="title">
            Reset Password
        </div>
        <form method="post" th:action="@{/reset-password}" th:object="${resetpassword}">

            <div class="field-wrap" style="margin-top: 20px">
                <label for="emailAddress" class="idleLabel">Your email</label>
                <input type="text" th:value="${emailAddress}" class="form-control isRequired" id="emailaddress" name="emailAddress" readonly/>
            </div>

            <div class="field-wrap">
                <label for="newPassword" class="idleLabel">New Password</label>
                <input type="password" th:field="*{newPassword}" class="form-control isRequired" id="newpassword" name="newPassword" required/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('newPassword')}">
                    <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{newPassword}"/>
                </div>
            </div>

            <div class="field-wrap">
                <label for="confirmPassword" class="idleLabel">Confirm Password</label>
                <input type="password" th:field="*{confirmPassword}" class="form-control isRequired" id="confirmpassword" name="confirmPassword" required/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('confirmPassword')}">
                    <img class="warning-icon" th:src="@{/images/warning.jpg}" height="14" width="25" alt="warning" th:errors="*{confirmPassword}"/>
                </div>
            </div>

            <div class="center">
            <button  class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</main>
</body>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src = "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" crossorigin="anonymous"> </script>
<script>

    $(document).ready(function(e) {
        /*Java script for label transition*/
        $('label').on('click', function(e) {
            // If you click on the label we force-focus to the input
            var input = $(this).attr('for');
            $('input[name="' + input + '"]').focus();
        });

        /*code below checks if the input is clicked, if it is float*/
        $('input,textarea').on('focus', function(e) {
            var input = $(this).attr('name');
            $('label[for="' + input + '"]').removeClass('idleLabel').addClass('activeLabel');
        }).on('blur', function(e) {
            if (($(this).is('input,textarea') && $(this).val() == '') ) {
                var input = $(this).attr('name');
                $('label[for="' + input + '"]').removeClass('activeLabel').addClass('idleLabel');
                debugger;
            }
        });

        var Input = document.getElementById("emailaddress");
        if (Input.value){
            $('label[for="emailAddress"]').removeClass('idleLabel').addClass('activeLabel');
        }

    })

</script>

</html>