<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset Confirmation</title>
</head>
<head th:replace="fragments/header :: head"><head>
    <head>
        <meta charset="UTF-8">
        <title>Password Reset Sent</title>
    </head>
    <style> body{background-color:rgb(242,247,252);} .box{background-color:rgb(242,247,252); }</style>
<body>
<div th:replace="fragments/header :: navbar-default"></div>
<main role="main" class="box">

    <div class="tab-group">

        <div class="title">
            Password has been reset successfully
        </div>

    </div>
</main>

</body>
<div th:replace="fragments/footer :: footer"></div>

</html>