<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TimeSheetConfirmation</title>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div >
    <div id=timehsheetConfirmationDate>
        <h3>The start date you selected:</h3>
        <div th:text="${TimeSheet.start_date}"></div>
    </div>

    <div id=timehsheetConfirmationDays>
        <h3>The days you selected are: </h3>
        <p>Monday:</p>
        <div th:text="${TimeSheet.monday_worked}"></div>
        <p>Tuesday:</p>
        <div th:text="${TimeSheet.tuesday_worked}"></div>
        <p>Wednesday:</p>
        <div th:text="${TimeSheet.wednesday_worked}"></div>
        <p>Thursday:</p>
        <div th:text="${TimeSheet.thursday_worked}"></div>
        <p>Friday:</p>
        <div th:text="${TimeSheet.friday_worked}"></div>
        <p>Saturday:</p>
        <div th:text="${TimeSheet.saturday_worked}"></div>
        <p>Sunday:</p>
        <div th:text="${TimeSheet.sunday_worked}"></div>
    </div>

    <div id=timehsheetConfirmationOvertime>
        <h3>The overtime you selected:</h3>
        <div th:text="${TimeSheet.overtime}"></div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">
</div>
</body>
<input type="hidden" id="refreshed" value="no">
<script type="text/javascript">

    onload=function(){
        var e=document.getElementById("refreshed");
        if(e.value=="no")e.value="yes";
        else{e.value="no";location.reload();}
    }

</script>
</html>